In [36]:
import pandas as pd

In [37]:
car_sales = pd.read_csv(r'/Users/abhishekchauhan/Learnings/Machine-learning-course/Data/car-sales-extended-missing-data.csv')

In [38]:
car_sales

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [39]:
# Split the data in the X and Y

from sklearn.model_selection import train_test_split

x = car_sales.drop('Price',axis=1)
y = car_sales['Price']

In [40]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

In [41]:
y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [42]:
# Building the machine learning model after converting the text label to the number
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [43]:

# Turning the categorical data to Numbers

categorical_features = ['Make','Colour','Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([(
    "one_hot",
    one_hot,
    categorical_features)],
    remainder='passthrough'
)

transformer_X = transformer.fit_transform(x).toarray()
transformer_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 2.48360e+05]], shape=(1000, 16))

In [44]:
# Lets check the data
df = pd.DataFrame(transformer_X)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,35431.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,192714.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,84714.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,154365.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,181577.0

In [45]:
y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [46]:
# Lets train the model

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

model = RandomForestRegressor()

x_train,x_test,y_train,y_test = train_test_split(transformer_X,y,test_size = 0.2)

model.fit(x_train,y_train)

model.score(x_test,y_test)

ValueError: Input y contains NaN.

# Looks like we have some missing values.

Lets fix those values

In [ ]:
# Lets fix find the missing values 
car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [ ]:
# Lets fix the values using the pandas.

car_sales['Make'].fillna('Blank',inplace=True)
car_sales['Colour'].fillna('Blank',inplace=True)
car_sales['Doors'].fillna('Blank',inplace=True)
car_sales['Odometer (KM)'].fillna(car_sales['Odometer (KM)'].mean(),inplace=True)

/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4256552856.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales['Make'].fillna('Blank',inplace=True)
/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4256552856.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales['Colour'].fillna('Blank',inplace=True)
/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4256552856.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales['Doors'].fillna('Blank',inplace=True)
/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4256552856.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Blank' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  car_sales['Doors'].fillna('Blank',inplace=True)
/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4256552856.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales['Odometer (KM)'].fillna(car_sales['Odometer (KM)'].mean(),inplace=True)

In [ ]:
car_sales.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

Price is the target which we want to predict so it will be not good if, we fill this column. Lets remove blanks

In [ ]:
car_sales = car_sales[~(car_sales['Price'].isna())]

In [ ]:
car_sales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [ ]:
# lets split the data again
car_sales['Odometer (KM)'] = car_sales['Odometer (KM)'].astype(int)
x = car_sales.drop('Price',axis=1)
y = car_sales['Price']

/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4040068405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_sales['Odometer (KM)'] = car_sales['Odometer (KM)'].astype(int)

In [ ]:
# COnverting the categorical data to the numeric data
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

one_hot = OneHotEncoder()
categorical_features = ['Make','Colour','Doors']
transformer = ColumnTransformer([('one_hot',one_hot,categorical_features)],remainder='passthrough')

transformer_X = transformer.fit_transform(x).toarray()
print(pd.DataFrame(transformer_X))

      0    1    2    3    4    5    6    7    8    9    10   11   12   13  \
0    0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
1    1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
2    0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
3    0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
4    0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
945  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
946  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
947  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
948  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
949  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0

      14        15
0    0.0   35431.0
1    0.0  192714.0
2    0.0   84714.0
3    0.0  154365.0
4    0.0  181577.0
..   ...       ...
945  0.0   35820.0
946  0.0  155144.0
947  0.0   66604.0
948  0.0  215883.0
949  0.0  248360.0

[950 rows x 16 columns]

In [ ]:
x.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors            object
dtype: object

## Option 2: Filling missing values with the sklearn.

In [47]:
car_missing_missing = pd.read_csv('/Users/abhishekchauhan/Learnings/Machine-learning-course/Data/car-sales-extended-missing-data.csv')

In [48]:
car_missing_missing['Doors'].dtype

dtype('float64')

lets check for the missing values

In [49]:
car_missing_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [50]:
# Lets drop the missing values in the price column because it is the target coloum for us.
car_missing_missing.dropna(subset='Price',inplace=True)
car_missing_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [51]:
# Spliting the data in X and Y
x = car_missing_missing.drop(columns='Price',axis=1)
y = car_missing_missing['Price']

In [68]:
y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 950, dtype: float64

In [60]:
#lets do the filling part
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [61]:
# Filling the missing values with the missing and numerical.
cat_impute = SimpleImputer(strategy='constant',fill_value= 'missing')
door_impute = SimpleImputer(strategy='most_frequent',fill_value= '4.0')
num_imputer = SimpleImputer(strategy='mean')

In [62]:
# defining columns for column trasformer

cat_features = ['Make','Colour']
door_features = ['Doors']
num_features = ['Odometer (KM)']

In [63]:
# creating the imputer that fill the values

imputer = ColumnTransformer([('cat_imputer',cat_impute,cat_features),
                             ('door_impute',door_impute,door_features),
                            ('num_imputer',num_imputer,num_features)])

In [64]:
# transform the data.
filled_x = imputer.fit_transform(x)
filled_x

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], shape=(950, 4), dtype=object)

In [70]:
#lets check the missing values in the new dataframe
car_sales_filled = pd.DataFrame(filled_x,columns=['Make','Colour','Doors','Odometer (KM)'])
car_sales_filled.isna().sum()
car_sales_filled

        Make Colour Doors Odometer (KM)
0      Honda  White   4.0       35431.0
1        BMW   Blue   5.0      192714.0
2      Honda  White   4.0       84714.0
3     Toyota  White   4.0      154365.0
4     Nissan   Blue   3.0      181577.0
..       ...    ...   ...           ...
945   Toyota  Black   4.0       35820.0
946  missing  White   3.0      155144.0
947   Nissan   Blue   4.0       66604.0
948    Honda  White   4.0      215883.0
949   Toyota   Blue   4.0      248360.0

[950 rows x 4 columns]

In [71]:
# Lets again convert the categorical values in the numerical.

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

one_hot = OneHotEncoder()
categorical_features = ['Make','Colour','Doors']

transformer = ColumnTransformer([
    ('one_hot',one_hot,categorical_features)
],remainder='passthrough'
)

transformer_X = transformer.fit_transform(car_sales_filled)
transformer_X

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3800 stored elements and shape (950, 15)>

In [78]:
# Now we have the data in the form of numbers 
#Lets train the data

import numpy as np
np.random.seed(42)

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

X_train, X_test, y_train, y_test = train_test_split(transformer_X,
                                                    y,
                                                    test_size=0.2)

model = RandomForestRegressor(n_estimators=100)

model.fit(X_train,y_train)
model.score(X_test,y_test)

0.21990196728583944

In [ ]:
yT

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 950, dtype: float64

## picking a machine learning model for regression problem

In [79]:
# Get the california dataset

from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing()

housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]], shape=(20640, 8)),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894], shape=(20640,)),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33:291-297, 1997.\n'}

In [81]:
# Lets create a Data Frame form this.
housing_df = pd.DataFrame(housing['data'],columns=housing['feature_names'])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [83]:
# Sexy Now we need to add the target column.

housing_df['MedHouseVal'] = housing['target']

In [84]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [85]:
# Lets rename the target column here.
housing_df.rename(columns={'MedHouseVal':'target'},inplace=True)

In [86]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [88]:
#Lets move forward with the model I have used SKLearn cheet-sheet for selecting this model

# Import algorithm/estimator
from sklearn.linear_model import Ridge

# Setups random seed
np.random.seed(42)

# create the date
X = housing_df.drop('target',axis=1)
Y = housing_df['target']

# Split the data in the train and test sets
X1_train,X1_test,Y1_train,Y1_test = train_test_split(X,Y,test_size=0.2)


# Intantiate and fit the model (on the training set)

model = Ridge()
model.fit(X1_train,Y1_train)

# Checking for the results

model.score(X1_test,Y1_test)

0.5758549611440125

In [89]:
# lets use the Random forest for the better understanding

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# fixing the state
np.random.seed(42)

# creating the data
x = housing_df.drop('target',axis=1)
y = housing_df['target']

# spliting the data in the train and test sets

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

# model initializing 
model = RandomForestRegressor()

# model fit
model.fit(x_train,y_train)

# model Score
model.score(x_test,y_test)

0.8059809073051385

In [95]:
# Choosing an estimator for a classification problem

heart_disease = pd.read_csv('/Users/abhishekchauhan/Learnings/Machine-learning-course/Data/heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [101]:
# setting up the random seed
np.random.seed(42)

# import the LinearSVC model
from sklearn.svm import LinearSVC

# creating the data
x = heart_disease.drop('target',axis=1)
y = heart_disease['target']

# spliting the data in the train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

#initiate the model
clf = LinearSVC()

# fit the data
clf.fit(x_train,y_train)

# checking the Score of the model
clf.score(x_test,y_test)

0.8688524590163934

In [108]:
# lets try with the other methods
# setting up the random seed
np.random.seed(42)

# import the LinearSVC model
from sklearn.ensemble import RandomForestClassifier

# creating the data
x = heart_disease.drop('target',axis=1)
y = heart_disease['target']

# spliting the data in the train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

#initiate the model
clf = RandomForestClassifier()

# fit the data
clf.fit(x_train,y_train)

# checking the Score of the model
clf.score(x_test,y_test)

0.8524590163934426

In [ ]:
# predict vs predict_proba

y_pred = clf.predict(x_test)
y_pred

In [ ]:
np.array(y_test)

In [111]:
np.mean(y_pred == y_test)

np.float64(0.8524590163934426)

as you see this is the same there is one more way to this using the sklearn.

In [112]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8524590163934426

In [113]:
# predict vs predict_proba

clf.predict_proba(x_test[:5])

array([[0.89, 0.11],
       [0.49, 0.51],
       [0.43, 0.57],
       [0.84, 0.16],
       [0.18, 0.82]])

In [115]:
clf.predict(x_train[:5])

array([1, 0, 0, 1, 0])

In [116]:
# Lets predict the housing price with the help of the regressor "RandomForest regressor"

housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [121]:
# import the model
from sklearn.ensemble import RandomForestRegressor

# fix the values/state
np.random.seed(42)
# creating the data
x = housing_df.drop('target',axis=1)
y = housing_df['target']

# split the data in the train and test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

# initiate the model
model = RandomForestRegressor()

# fit the model
model.fit(x_train,y_train)

# predict the model
y_pred = model.predict(x_test)

In [126]:
result = np.mean(y_pred - y_test)

In [127]:
result

np.float64(0.011913192441860052)

In [128]:
# Now lets do it with the sklearn
from sklearn.metrics import mean_absolute_error
result = mean_absolute_error(y_pred,y_test)
result

0.3270458119670544

Evaluating model with the `Score` method.

In [130]:
#importing the model
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# fix the state of the model
np.random.seed(42)

# create the data set X and Y
X = heart_disease.drop('target',axis=1)
Y = heart_disease['target']

# Split data in test and train.
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)

# Classifier model instance 
clf = RandomForestClassifier()

# Fit the classification model

clf.fit(x_train,y_train)

RandomForestClassifier()

In [131]:
# Lets check the score of the model
clf.score(x_train,y_train)

1.0

Look we get this 100% score because our model is already familier with the training data now lets check for the test data

In [132]:
clf.score(x_test,y_test)

0.8524590163934426

So the score is decreased to the 85% which means we must never expose the test data to model.