In [2]:
import pandas as pd

In [55]:
car_sales = pd.read_csv(r'/Users/abhishekchauhan/Learnings/Machine-learning-course/Data/car-sales-extended-missing-data.csv')

In [56]:
car_sales

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [57]:
# Split the data in the X and Y

from sklearn.model_selection import train_test_split

x = car_sales.drop('Price',axis=1)
y = car_sales['Price']

In [58]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

In [59]:
y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [60]:
# Building the machine learning model after converting the text label to the number
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [61]:

# Turning the categorical data to Numbers

categorical_features = ['Make','Colour','Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([(
    "one_hot",
    one_hot,
    categorical_features)],
    remainder='passthrough'
)

transformer_X = transformer.fit_transform(x).toarray()
transformer_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 2.48360e+05]], shape=(1000, 16))

In [62]:
# Lets check the data
df = pd.DataFrame(transformer_X)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,35431.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,192714.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,84714.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,154365.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,181577.0

In [63]:
y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [64]:
# Lets train the model

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

model = RandomForestRegressor()

x_train,x_test,y_train,y_test = train_test_split(transformer_X,y,test_size = 0.2)

model.fit(x_train,y_train)

model.score(x_test,y_test)

ValueError: Input y contains NaN.

# Looks like we have some missing values.

Lets fix those values

In [65]:
# Lets fix find the missing values 
car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [66]:
# Lets fix the values using the pandas.

car_sales['Make'].fillna('Blank',inplace=True)
car_sales['Colour'].fillna('Blank',inplace=True)
car_sales['Doors'].fillna('Blank',inplace=True)
car_sales['Odometer (KM)'].fillna(car_sales['Odometer (KM)'].mean(),inplace=True)

/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4256552856.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales['Make'].fillna('Blank',inplace=True)
/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4256552856.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales['Colour'].fillna('Blank',inplace=True)
/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4256552856.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales['Doors'].fillna('Blank',inplace=True)
/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4256552856.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Blank' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  car_sales['Doors'].fillna('Blank',inplace=True)
/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4256552856.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales['Odometer (KM)'].fillna(car_sales['Odometer (KM)'].mean(),inplace=True)

In [67]:
car_sales.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

Price is the target which we want to predict so it will be not good if, we fill this column. Lets remove blanks

In [68]:
car_sales = car_sales[~(car_sales['Price'].isna())]

In [69]:
car_sales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [ ]:
# lets split the data again
car_sales['Odometer (KM)'] = car_sales['Odometer (KM)'].astype(int)
x = car_sales.drop('Price',axis=1)
y = car_sales['Price']

/var/folders/zq/6tyr5bd55nz5m1lxswhltzl00000gn/T/ipykernel_63764/4040068405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_sales['Odometer (KM)'] = car_sales['Odometer (KM)'].astype(int)

In [78]:
# COnverting the categorical data to the numeric data
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

one_hot = OneHotEncoder()
categorical_features = ['Make','Colour','Doors']
transformer = ColumnTransformer([('one_hot',one_hot,categorical_features)],remainder='passthrough')

transformer_X = transformer.fit_transform(x).toarray()
print(pd.DataFrame(transformer_X))

      0    1    2    3    4    5    6    7    8    9    10   11   12   13  \
0    0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
1    1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
2    0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
3    0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
4    0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
945  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
946  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
947  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
948  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
949  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0

      14        15
0    0.0   35431.0
1    0.0  192714.0
2    0.0   84714.0
3    0.0  154365.0
4    0.0  181577.0
..   ...       ...
945  0.0   35820.0
946  0.0  155144.0
947  0.0   66604.0
948  0.0  215883.0
949  0.0  248360.0

[950 rows x 16 columns]

In [79]:
x.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors            object
dtype: object

## Option 2: Filling missing values with the sklearn.

In [40]:
car_missing_missing = pd.read_csv('/Users/abhishekchauhan/Learnings/Machine-learning-course/Data/car-sales-extended-missing-data.csv')

In [41]:
car_missing_missing['Doors'].dtype

dtype('float64')

lets check for the missing values

In [42]:
car_missing_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [43]:
# Lets drop the missing values in the price column because it is the target coloum for us.
car_missing_missing.dropna(subset='Price',inplace=True)
car_missing_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [44]:
# Spliting the data in X and Y
x = car_missing_missing.drop(columns='Price',axis=1)
y = car_missing_missing['Price']

In [45]:
#lets do the filling part
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [46]:
# Filling the missing values with the missing and numerical.
cat_impute = SimpleImputer(strategy='constant',fill_value= 'missing')
door_impute = SimpleImputer(strategy='most_frequent',fill_value= '4.0')
num_imputer = SimpleImputer(strategy='mean')

In [47]:
# defining columns for column trasformer

cat_features = ['Make','Colour']
door_features = ['Doors']
num_features = ['Odometer (KM)']

In [48]:
# creating the imputer that fill the values

imputer = ColumnTransformer([('cat_imputer',cat_impute,cat_features),
                             ('door_impute',door_impute,door_features),
                            ('num_imputer',num_imputer,num_features)])

In [49]:
# transform the data.
filled_x = imputer.fit_transform(x)
filled_x

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], shape=(950, 4), dtype=object)